.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  position: relative;
  padding: 8px 8px 16px 8px;
  background-color: var(--background-color-secondary);
  border-radius: var(--border-radius-middle);
}

.rating {
  position: absolute;
  top: 16px;
  left: 16px;
}

.image {
  width: 100%;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px;
}

.title {
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  font-weight: var(--font-weight-accent);
  color: var(--color-text-secondary);
}